

.main-content
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5rem;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 14%, rgba(87, 87, 87, 1) 52%, rgba(89, 89, 89, 1) 100%);
}

.game-header
{
    display: flex;
    gap: 1rem;
}

.game-title
{
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    font-size: medium;
    border-radius: 30px;
    background-color: #595959;
    color: white;
}

.go-back-button
{
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #595959;
    border:none;
    color: white;
}

.game-information
{
    display: flex;
    gap: 1rem;
}



.game-first-row, .game-second-row
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-first-row
{
    min-width: 40vw;
    max-width: 40vw;
}

.game-second-row{
    background-color: white;
    padding: 1rem;
}

.game-data
{
    gap: 1rem;
}

.game-data-title, .tag
{
    background-color: #595959;
    border-radius: 30px;
    padding: 0.5rem;
    color: white;
    text-align: center;
}

.tag
{
    cursor: pointer;
}

.game-data-title
{
    width: 20vw;
}

.game-description
{
    border: 3px solid white;
    text-align: center;
    padding: 1rem;
    color: white;
    background: transparent;
}
.game-tags
{
    display: flex;
    gap: 0.5rem;
}


.game-image, .game-description, .game-second-row
{
    border-radius: 20px;
}